#header
{
	background-color: grey;
}

a:link, a:visited
{
	color: white;
}

a:hover, a:active
{
	text-decoration: underline !important;
	color: yellow;
}

nav a
{
text-transform: uppercase;
}

#kontener1 {
	flex-wrap: wrap;
  	align-content: stretch;
  	display: block;
    background-color: #C9E6FF;
    height: auto;
}

#ja {
	background-position: left; top;
	height: 25%;
}

#imie {
	display: inline;
}

