#header
{
	background-color: grey;
}

a:link, a:visited
{
	color: white;
}

a:hover, a:active
{
	text-decoration: underline !important;
	color: #EAE5E5
}

nav a
{
text-transform: uppercase;
}

.obrazek2
{
	background-image: url(Obrazek2.jpg);
    height: auto;
    position: relative;
    opacity: 0.45;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#kontener1 {
	flex-wrap: wrap;
  	align-content: stretch;
  	display: block;
    background-color: #C9E6FF;
    height: auto;
}

#ja {
	background-position: left; top;
	height: 25%;
}

#imie {
	display: inline;
}

