#header
{
	z-index: 1;
	position: relative;
}

#inner_header
{
    position: relative;
}

a:link, a:visited
{
	color: white;
}

a:hover, a:active
{
	text-decoration: underline !important;
	color: #EAE5E5
}

nav a
{
text-transform: uppercase;
}

.tlo
{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.65;
	z-index: -1;
	background-image: url(Obrazek2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

#kontener1 {
	flex-wrap: wrap;
  	align-content: stretch;
  	display: block;
    background-color: #C9E6FF;
    height: auto;
}

#ja {
	background-position: left; top;
	height: 25%;
}

#imie {
	display: inline;
}

